.header {
  background-color: #1a1b1f;
  color: white;
  text-align: center;
}

.header .title {
  font-size: 36px;
  display: block;
}

.header::after {
  background: url('https://www.playgwent.com/img/home/timeline-top.png') repeat-x center top;
  content: '';
  display: block;
  height: 20px;
  position: absolute;
  left: 0;
  right: 0;
}
